ConsoleClient/Connected Services/CalculatorServiceReferenceConsole/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf_calc_demo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf_calc_demo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imaginary" type="xs:double" />
      <xs:element minOccurs="0" name="Real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexNumber" nillable="true" type="tns:ComplexNumber" />
  <xs:complexType name="DetailedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailedException" nillable="true" type="tns:DetailedException" />
</xs:schema>